
  <div class="row">
    <comp-menulat></comp-menulat>
    <div class="card mt-5">
      <div class="card-body">
        
        <h3 class="text-center">Datos del Tecnico</h3>
        <form #tecnicoForm="ngForm" (ngSubmit)="onSubmit(tecnicoForm)">
          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.$key">
          <input type="hidden" name="imagenURL" #imagenURL="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.imagenURL">
         
          <div class="form-group">             
            <div>
                <img class="rounded-circle" [src]="tecnicoService.selectedTecnico.imagenURL" width="150" height="150">     
                <input type="text" name="imagenNom" #imagenNom="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.imagenNom">
            </div>                        
            <label>
                   <input type="file" (change)="detectFiles($event)">
            </label>           
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.nombre"
              placeholder="Agrega nombre del Tecnico">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.direccion"
              placeholder="Agrega la direccion del tecnico">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.telefono"
              placeholder="Agrega el telefono del tecnico">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="tecnicoService.selectedTecnico.correo"
              placeholder="Agrega el correo del Tecnico">
          </div>         
          <div class="form-Group">         
            <div *ngIf="currentUpload">
              <div class="progress">
                <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
              </div>
              Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
           </div> 
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-plus-circle"></i>Add Tecnico               
            </button>           
            
            <button class="btn btn-secondary" type="reset" (click)="resetForm(tecnicoForm)">
              <i class="fas fa-sync-alt"></i>Limpia campos
            </button>
          </div>
        </form>

      </div>
    </div>
    <div class="card">      
      <div class="card-body">
        <h3 class="text-center">Lista de Tecnicos</h3>
        <table class="table table-sm  table-hover">

          <body>
            <tr *ngFor="let tecnico of listTecnico">             
              <td><img src="{{tecnico.imagenURL}}" alt="Logotipo de HTML5" width="100" height="100">
                
              </td>
              <td>{{tecnico.nombre}}</td>             
              <td>{{tecnico.telefono}}</td>
              <td>{{tecnico.correo}}</td>
              <td>
                <a class="btn btn-secondary text-Black " (click)="onEdit(tecnico)">Editar
                 
                </a>
                <a class="btn btn-danger" (click)="onDelete(tecnico)">Borrar
                 
                </a>
              </td>
            </tr>
          </body>
        </table>
      </div>
    </div>
    
  </div>
